<nav class="navbar navbar-expand navbar-light bg-light mb-2 shadow position-relative">
    <div class="container-fluid justify-content-between">
        <a href="/" class="navbar-brand h1 mb-0 d-flex align-items-center">
            <img src="https://static-cdn.jtvnw.net/badges/v1/3e636937-64e0-4e93-80c2-ec3c4389472e/3" alt="Logo de Light-Manager" class="sized-1 d-inline-block align-text-top me-2">
            <span>Light</span>
        </a>

        <app-login *ngIf="true; else profile"></app-login>
        <ng-template #profile>
            <app-profile></app-profile>
        </ng-template>
        
    </div>
</nav>